<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- 로그인 완료된 고객 : 메인 페이지 접속 시 > 로그아웃(클릭 시 정보 조기화 > redirect("/") 로 인해 메인페이지로 이동) 가능버튼 노출 -->
    <!-- 로그인 안한 고객 : 메인 페이지 접속 시 > 회원가입(클릭 시 해당 페이지 이동) / 로그인(클릭 시 해당 페이지 이동) 가능버튼 노출 -->
    <%if(session["userid"]==undefined || session["userid"]==""){%>
      <p>
        <a href="/member/">회원가입</a> 
        <a href="/member/login">로그인</a>
      </p>
    <%}else {%>
      <p>
        <%=session["username"]%>
        <a href="/member/logout">로그아웃</a>
      </p>
    <%}%>
  </body>
</html>
